.weight-graph {
    display: flex;
    align-items: flex-end;
}

.y-axis {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px; /* Adjust as needed */
    padding-right: 10px;
    border-right: 2px solid #ccc;
}

.y-axis-label {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    font-size: 12px;
    height: 40px; /* Adjust based on graph height */
}

.y-axis-marker {
    width: 7px;
    height: 1px;
    background-color: #ccc;
    position: absolute;
    right: -10px;
}

.bar-chart {
    display: flex;
    align-items: flex-end;
    height: 200px;
    width: 100%;
    gap: 4px;
    padding: 10px;
    background-color: transparent;
    border: 1px solid #ccc;
}

.bar {
    flex: 1;
    background-color: dimgray;
    transition: height 0.3s ease;
    border-radius: 4px 4px 0 0;
    text-align: center;
}

    .bar:hover {
        background-color: gray;
    }

@media (max-width: 600px) {
    .bar-chart {
        padding: 8px 4px;
    }
}